body {
    font-family: Open Sans;
}

.allineamento{
   margin-left: 10rem;
   margin-right: 10rem; 
}
header {
    display: flex;
    text-align: right;
    & > nav {
        padding: 1rem;
        a {
            color: black;
            padding: 0.5rem 0.5rem;
            text-decoration: none;
            font-size: 65%;

        }
    }
}
.dc-logo {
   height: 45px;
    top: 50%;
    transform: translateY(15%);
}
.menu {
    margin-left: auto;
    font-size: 11px;
}

.series {
    position: absolute;
    bottom: -25px;
}

main {
    min-height: 30vh;
.nerro {
    min-height: 15vh;
    text-align: left;
    color: white;
    background-color: black;

}
.upper-main{
    background-image: url(/public/jumbotron.jpg);
    height: 250px;
    background-size: cover;
    position: relative;
}
.series{
    background-color: rgb(37, 152, 228);
    width: 140px;
    color: white;
}
.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.card-style{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.card{
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}
.card-title{
    padding-bottom: 3rem;
}
.load-more-btn{
    color: white;
    background-color: rgb(37, 152, 228);
    margin-bottom: 1rem;
    margin-left: 42%;
    padding: 0.5rem 2rem;
}
.azzurra {
    min-height: 20vh;
    background-color: rgb(60, 155, 233);
    padding: 0 10%;
}
}



footer {
   min-height: 350px;
   .imagine {
    min-height: 250px;
   } 
   .lower-footer {
    min-height: 100px;
    background-color: rgb(56, 55, 55);
   }
   
}
.bar-elements{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
ul{
    list-style-type: none;
    font-size: 8px;
}
.main-footer{
    background-image: url(./footer-bg.jpg);
    color: white;
}
.title-list{
    font-size: 12px;
}
.container {
    display: flex;
    position: relative;
    overflow: hidden;
   }
   .dc-logo-bg {
   height: 400px;
   position: absolute;
   top: -75px;
   bottom: -30px;
   margin-left: 11%;
   }
.comics-div{
    display: flex;
    margin: 0 1rem;
}
ul li a{
    color: white;
    text-decoration: none;
}
.elements {
    display: flex;
    justify-content: flex-end;
}
.social-logo {
    padding-right: 1rem;
}
.follow {
    color: rgb(6, 100, 207);
    padding-right: 2rem;
}
.sign-up-btn{
    background-color: rgb(56, 55, 55);
    border: solid rgb(6, 100, 207);
    color: white;

}
.img-main{
    height: 35px;
}
.info-img{
    padding-right: 1.8rem;
    color: white;
}
.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 3%;
}